html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    height: 100%;
    background: white;
}

nav.navbar {
  height: 4rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 0.8rem 0.8rem rgba(129, 129, 129, 0.05);
}

#logo-title {
  color: #1765b3;
}

#nav-menu span {
    color: #706f6f;
}

#info-section {
  margin-top: 2rem;
  color: #8a8a8a;
}

#ui-id-1 {
  background-color: #fdfcfcf5;
  width: 15rem;
  border-radius: 5%;
  height: auto;
  overflow: hidden;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.search-coin {
  text-align: center;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  font-size: 1.1rem;
}

.search-bar {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

button {
  margin: 0.2em;
  border-radius: 50%;
  border: none;
  height: 33px;
  width: 33px;
  outline: none;
  background: #7c7c7c2b;
  color: #8a8a8a;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: #8a8a8a;
    font-family: inherit;
    font-size: 105%;
    height: 40px;
    width: 300px;
    text-align: center;
}

button:hover {
    background: #7c7c7c6b;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #e9e9e9 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #8a8a8a !important;
}

.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.card-image>.fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #209cee;
}

.info-tiles {
    margin: 1rem 0;
    font-weight: 8rem;
    color: #8F99A3;
}

.info-tiles .title {
    font-weight: 350;
    color: #707070;
}

.info-tiles .subtitle {
    font-weight: 300;
    color: #8F99A3;
}

.card {
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.315);
    margin-bottom: 2rem;
    border: transparent;
}

.card-content {
    height: 100%;
}

.card-content .content h4 {
  height: 4rem;
  font-size: 1rem;
  font-weight: 500;
  color: #5e6164;
  overflow: hidden;
  text-overflow: "----"; 
}

.card-content .content p {
  height: 2.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #5e6164; 
  overflow: hidden;
  text-overflow: "----"; 
}

#coin-image {
    display: inline;
    image-rendering: auto;
}

#coin-heading {
    font-size: 2rem;
    color: #707070;
    height: 100%;
    align-items: center !important;
    text-align: center !important;
    margin-bottom: -0.8rem;
    margin-top: -0.8rem;
}

#coin-price {
    font-size: 2.2rem;
    color: #646464;
    height: 100%;
    align-items: center !important;
    text-align: center !important;
    margin-bottom: -0.5rem;
}

#coin-price_2 {
    font-size: 0.9rem;
    color: #8F99A3;
    height: 100%;
    align-items: center !important;
    text-align: center !important;
    margin: 0.1rem;
}

.tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.is-shady {
  background: #fff;
  box-shadow: rgba(0, 0, 0, .4) 0 1px 0;
  border-radius: 4px;
  margin: 10px;
  position: relative;
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

footer {
  margin-top: 1rem;
  font-size: 60%;
}

footer p, a strong {
  color: #757575;
}

footer p, a {
  color: #8a8a8a;
}

.decrease {
    background: rgba(249, 88, 88, .42);
}

.increase {
    background: rgba(63, 231, 0, .26)
}

.ui-helper-hidden-accessible {
  display: none !important;
}