

html,body {
  background: #fff;
}



nav  {
  margin: 1.5px 50px 50px 50px;
  padding: 0;
  box-sizing: border-box;
}

.navbar-item h4 {
  color: #4B87AB;
  font-size: 20px;
}

.navbar-item #coins {
  color: #4B87AB;
  font-size: 20px;
}

.navbar-item #nav-button{
  color:#8a8a8a;
 }

a.navbar-item.is-active {
 color:#8a8a8a;
}

.search-coin {
  text-align: center;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  justify-content: center;
  margin: 15px 15px 30px 15px;
}

.search-bar {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 33px;
    width: 33px;
    outline: none;
    background: #7c7c7c2b;
    color: #8a8a8a;
    cursor: pointer;
    transition: 0.2s ease-in-out;  

  }
  
  input.search-bar {
    border: none;
    outline: none;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: #8a8a8a;
    font-family: inherit;
    font-size: 105%;
    height: 40px;
    width: 300px;
    text-align: center;
  }


  button:hover {
    background: #7c7c7c6b;
  }

  .box {
    box-shadow: none;
  }

footer strong, p, a {
  color: #8a8a8a;
}

.card-image .image {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 300px;
}

img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.card {
  height: 100%;
  weight: 100%;
}
 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #e9e9e9 inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: #8a8a8a !important;
}

#coin-heading {
  font-size: 40px;
  color: #4a4a4a;
  padding: 0;

}

#coin-price {
  font-size: 40px;
  color: #4a4a4a;
}

.price {
  font-size: 30px;
  color: #5c5c5c;
}

.coin-info {
  font-size: 15px;
}

.tile {
 margin: auto;
}

.tile img {
  vertical-align: middle;
  margin: 1px 1px 1px 1px;
  padding: 0;
 }

 .tile.is-parent {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}


 .tile.is-child.box  {
  padding: 0;
  margin: auto!important;
  vertical-align: middle;
 }